@import "../core/variables";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 350px;
  height: 650px;
  font-family: $fontFamily;
  background-color: $primaryColor;
  color: $secondaryColor;
  text-align: center;
  &__image {
    width: 300px;
    height: 450px;
  }
  &__title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  &__date {
    font-size: 15px;
  }
  &__btn {
    cursor: pointer;
    width: 150px;
    padding: 5px;
    margin: 10px;
    font-weight: 700;
    color: $secondaryColor;
    border: 1px solid $secondaryColor;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    &:hover {
      border: 1px solid $primaryColor;
      background-color: $secondaryColor;
      color: $primaryColor;
    }
  }
}
