@import "core/reset";
@import "core/variables";

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $fontFamily;
  color: $secondaryColor;
  &__msg {
    font-size: 15px;
    @media all and (min-width: 768px) {
      font-size: 20px;
    }
  }
}

.details__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 100px 50px;
  font-family: $fontFamily;
  font-size: 20px;
  color: $secondaryColor;
  &--icon {
    margin-right: 10px;
  }
  &--text {
    margin-bottom: 20px;
  }
  &--btn {
    cursor: pointer;
    width: 150px;
    padding: 5px;
    margin: 0 auto;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid $secondaryColor;
    color: $secondaryColor;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    &:hover {
      border: 1px solid $primaryColor;
      background-color: $secondaryColor;
      color: $primaryColor;
    }
  }
}

.icon {
  margin-right: 10px;
}
